body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
}

h1
{
	font-size: 22px;
	font-weight: 700;
	margin: 10px 5px;
}

#userbar
{
	background-color: #333;
	color: whitesmoke;
	padding: 3px;
}
#userbar a
{
	color: lightblue;
}
#sidebar
{
	background-color: #30384a;
	min-height: 600px;
	width: 300px;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
#content 
{
	background-color: white;
	margin-left: 300px;
	width: 800px;
}
#explorer 
{
	border-left: 2px solid #AAA;
	border-right: 1px solid #DDD;
}

#controls
{
	background-color: #1c212c;
	padding: 5px;
}

#controls a
{
	color: #fff;
	font-weight: bold;
	padding: 10px 14px;
}

#controls a:hover
{
	background-color: #111;
}

.loading
{
	padding: 50px 20px;
	text-align: center;
}

.strong
{
	font-weight: bold;
}

.col-md-1, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-md-10, 
.col-md-11, 
.col-md-12 {
	float: left;
}
.js-hidden
{
	display:none;
}
/* Bootstrap Overrides */

.form-control 
{
	padding: 6px 5px;
}

/* End Bootstrap Overrides */

.alert 
{
	padding: 5px 15px;
}

.subscription-header
{
	background-color: #2d2d2d;
	border-bottom: 4px solid #010101;
	color: #eee;
	padding: 40px 10px 5px;
}

.subscription-header a.nav-link
{
	color: #fff;
}

.subscription-header a.control-link
{
	font-size: 12px;
}

.folder
{
	color: #DFEAF5;
	font-size: 12px;
	padding: 5px 8px;
}
.folder:hover
{	
	background-color: #455069;
	cursor: pointer;
}

.folder.selected
{
	background-color: #455069;
}

.subscription
{
	color: #DFEAF5;
	font-size: 12px;
	padding: 5px 8px;
}
.subscription:hover
{	
	background-color: #455069;
	cursor: pointer;
}

.subscription.selected
{
	background-color: #455069;
}

.subscription-explorer-node
{
	border-bottom: 1px solid #CCC;
	padding: 8px 10px;
}

.subscription-explorer-node:hover
{	
	background-color: #EFEFEF;
	cursor: pointer;
}

.subscription-explorer-node-none
{
	padding: 50px 10px;
	text-align: center;	
}

.subscription-explorer-node-subscription
{
	float:left;
	margin-right: 5px;
	font-weight:bold;
}

.subscription-explorer-node-fav
{
	float:left;
	margin-right: 5px;
}

.subscription-explorer-node-title
{
	float:left;
	word-wrap:break-word;
}

.subscription-explorer-node-time
{
	float:right;
}

.subscription-explorer-node-content img
{
	max-width: 90%;
    height: auto;
}

/* Login Form */

.form-signin
{
	padding: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 10px .5px rgba(200,200,200,200);
	box-shadow: 0 0 10px .5px rgba(200,200,200,200);
	margin: 100px auto;
}

.form-signin header
{
	background-color: #333;
	border-bottom: 3px solid #DDD;
	color: #DDD;
	padding: 15px;
}

.form-signin .content
{
	padding: 15px;
}

.form-signin h1
{
	margin:0;
	text-align: center;
}

.form-signin input[type=text]
{
	margin-bottom: 10px;
}

.form-signin button
{
	margin-bottom: 7px;
	width: 100%;
}