{% extends "extend/base.html" %}

{% block content %}
	{% if user.is_authenticated %}
	<script>
		function get_userId()
		{
			return {{ user.id }};
		}
		function get_userName()
		{
			return '{{ user.username }}';
		}
	</script>
	{% csrf_token %}

	<div id="main" ng-app="JellyFishApp">

		<header class="clearfix" ng-controller="HeaderCtrl" ng-include="'static/templates/header.html'"></header>
		<div class="clearfix" style="margin-top: 10px">
			<div class="sidebar pull-left" ng-controller="SidebarCtrl" 
					ng-include="'static/templates/sidebar.html'"></div>

			<div class="explorer pull-left" ng-controller="ExplorerCtrl" 
					ng-include="'static/templates/explorer.html'"></div>
		</div>

	</div>

	<script src="static/js/vendor/angular.min.js"></script>
	<script src="static/js/vendor/angular.bootstrap.min.js"></script>
	<script>
		var app = angular.module('JellyFishApp', ['ui.bootstrap'])
	    .config(['$httpProvider', function($httpProvider) {
	        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
	    }]);

		app.controller("HeaderCtrl", function($scope, $modal) {
			$scope.addSubscription = function (){
			 	var modalInstance = $modal.open({
			      templateUrl: 'static/templates/modal.add.html',
			      controller: ModalInstanceCtrl
			    });
			}
		});

		var ModalInstanceCtrl = function ($scope, $modalInstance) {

			$scope.currentStatus = {

			}

			$scope.subscribe = function (url) {
				if(!url)
					return;

				if(url.indexOf("http://") === -1)
				{	
					$scope.currentStatus.invalidUrl = true;
					return;
				}

				$scope.currentStatus.invalidUrl = false;
				$scope.currentStatus.importing = true;

				//$modalInstance.close();
			};

			$scope.cancel = function () {
				$modalInstance.dismiss('cancel');
			};
		};

		app.controller("SidebarCtrl", function($scope, $rootScope, $http) {
			$scope.itemClick = function (subscriptionId) {
				$rootScope.$broadcast("subscription:click", subscriptionId);
			};

			$http.get("api/get_folders", {
				params: {
					csrfmiddlewaretoken: window.getCSRF(),
					user_id: window.get_userId()
				}
			}).success(function(data)	{
				$scope.folders = data;
			}).error(function(){
				console.log("something broke!")
			})
		});

		app.controller("ExplorerCtrl", function($scope, $http) {
			$scope.$on('subscription:click', function(event, subscriptionId) {
				$http.get("api/get_subscription_items", {
					params: {
						csrfmiddlewaretoken: window.getCSRF(),
						user_id: window.get_userId(),					
						subscription_id: subscriptionId,
					}
					}).success(function(data)	{
						$scope.items = data;
					}).error(function(){
						console.log("something broke!")
					});			    
		  	});

		  	$http.get("api/get_subscription_items", {
				params: {
					csrfmiddlewaretoken: window.getCSRF(),
					user_id: window.get_userId(),					
					subscription_id: 0,
				}
			}).success(function(data)	{
				$scope.items = data;
			}).error(function(){
				console.log("something broke!")
			});
		});
	</script>

	{% else %}
		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form class="form-signin" role="form" method="post" action="{% url 'login-user' %}">
			{% csrf_token %}
			<header>
				<h1>
					Jellyfish Reader
				</h1>
			</header>

			<script>
				$(function () {
					$("#id_username").focus();
				});
			</script>

			<div class="content">				
				<h5 class="form-signin-heading">Please Login</h5>
				<input id="id_username" class="form-control" maxlength="254" name="username" type="text" clickev="true" placeholder="Username" autofocus>
				
				<input id="id_password" class="form-control" name="password" type="password" clickev="true" placeholder=Password>
				<button type="submit" class="btn btn-default btn-success">Sign in</button>

				<button class="btn">Sign up</button>

				<button class="btn">Forgot Password</button>
			</div>
		</form>

	{% endif %}

{% endblock %}