{% extends "extend/base.html" %}

{% block content %}
	{% if user.is_authenticated %}
	<script>
		function get_userId()
		{
			return {{ user.id }};
		}
		function get_userName()
		{
			return '{{ user.username }}';
		}
	</script>
	{% csrf_token %}

	<div id="app" class="clearfix">

	</div>

	{% verbatim %}
		<script id="item-template" type="text/x-handlebars-template">
			<div js-item-link="{{url}}" class="subscription-explorer-node">
				<div class="subscription-explorer-node-title">
					{{title}}
				</div>
				<div class="subscription-explorer-node-content">
					{{{content}}}
				</div>	
			</div>
		</script>

		<script id="subscription-node-template" type="text/x-handlebars-template">
			<div class='subscription-node' js-subscription-id="{{ id }}">
				- {{ title }}
			</div>
		</script>

		<script id="explorer-template" type="text/x-handlebars-template">
			<div id="explorer" class="pull-left">

			</div>
		</script>

		<script id="controls-template" type="text/x-handlebars-template">
			<div id="controls" class="clearfix">
				<div class="pull-left">
					<button class='btn btn-success button-add'>+ Add Subscription</button>
					<button class='btn button-settings'>Settings</button>
				</div>
				<div class="pull-right">
					<button class="btn btn-info button-logout">Logout</button>
				</div>
			</div>
		</script>

		<script id="sidebar-template" type="text/x-handlebars-template">
			<div class="sidebar">
				<div class="sidebar-content">
				</div>
			</div>
		</script>

		<script id="settings-template" type="text/x-handlebars-template">
			<div id="window-settings" class="modal modal-settings fade">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">Settings</h4>
			      </div>
			      <div class="modal-body">
			        <p>One fine body&hellip;</p>
			      </div>
			      <div class="modal-footer">
		        	<a href="#" class="btn btn-success button-save">Save</a>
					<a href="#" class="btn btn-default button-cancel">Cancel</a>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->		
		</script>
	{% endverbatim %}

	{% else %}
		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form class="form-signin" role="form" method="post" action="{% url 'login-user' %}">
			{% csrf_token %}
			<header>
				<h1>
					Jellyfish Reader
				</h1>
			</header>

			<script>
				$(function () {
					$("#id_username").focus();
				});
			</script>

			<div class="content">				
				<h5 class="form-signin-heading">Please Login</h5>
				<input id="id_username" class="form-control" maxlength="254" name="username" type="text" clickev="true" placeholder="Username" autofocus>
				
				<input id="id_password" class="form-control" name="password" type="password" clickev="true" placeholder=Password>
				<button type="submit" class="btn btn-default btn-success">Sign in</button>

				<button class="btn">Sign up</button>

				<button class="btn">Forgot Password</button>
			</div>
		</form>

	{% endif %}

{% endblock %}