{% extends "extend/base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		Hello {{ user.username }}!
		<a href="{% url 'logout-user' %}">Logout</a>

	{% else %}
		{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form class="form-signin" role="form" method="post" action="{% url 'login-user' %}">
			{% csrf_token %}
			<h4 class="form-signin-heading">Please Login</h4>
			<input id="id_username" class="form-control" maxlength="254" name="username" type="text" clickev="true" placeholder="Username" autofocus>
			<input id="id_password" class="form-control" name="password" type="password" clickev="true" placeholder=Password>
			<button type="submit" class="btn btn-default btn-success">Sign in</button>
		</form>

		<a href="#">Sign up</a>

		<a href="#">Forgot Password</a>
	{% endif %}

{% endblock %}