<html>
<head>
	<title>
		Jellyfish
	</title>
	{% load staticfiles %}	 
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/signin.css"/>	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css"/>

	<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>-->
</head>

<body>
	<div>
		{% block content %}

		{% endblock %}
	</div>

	<script>
		function getCSRF()
		{
			return document.getElementsByName('csrfmiddlewaretoken')[0].value;
		}
	</script>
	<!--<script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/vendor/require.min.js"></script>-->
</body>
</html>
