<html>
<head>
	<title>
		Jellyfish
	</title>
	{% load staticfiles %}	 
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/signin.css"/>
	
</head>

<body>
	<div class='container'>
		<header>
			<h1>
				<a href="{% url 'index-view' %}">
					Jellyfish RSS
				</a>
			</h1>
		</header>
		<content>
			{% block content %}

			{% endblock %}
		</content>
	</div>
</body>
</html>
