<div class="subscription-explorer-node">
	<div class="clearfix">
		<div class="subscription-explorer-node-subscription" style="color: {{ data.subscriptionColor }} !important">
			{% if (data.thumbnail_url) { %}
			<div style="background-image: url({{ data.thumbnail_url }});background-size: cover;
background-position: 50% 30%; height: 104px; width: 200px"></div>	
			{% } else { %}	
			<div style="text-align:center; color: #AAA; font-size: 12px; height:104px; line-height: 104px; width: 200px">{{ data.subscriptionTitle }}</div>
			{% } %}
		</div>
		<div class="subscription-explorer-node-title">
			<div>	
				<a href="{{ data.url }}" target="_blank">{{ data.title }}</a>
			</div>
			<div style="color: #999; font-size: 11px;">
				{{ data.subscriptionTitle }}
			</div>
			<div style="color:#AAA; font-size: 11px;">
				{{ data.content_short }}
			</div>
		</div>lates
		<div style="display:none">
			<!-- TODO: Add these back on 'hover' -->
			<i class="fa fa-star-o button-favorite"></i>
			
			<abbr class="timeago" title="{{ data.published }}">{{ data.published }}</abbr>
		</div>
	</div>
</div>