<div id="explorer">
	<div class="subscription-header clearfix">
		<div class="strong pull-left" style="padding: 0 14px;">
			<h4 class="title strong"></h4>
		</div> 
		<div class="pull-right" style="padding: 12px;">
			<a href="#" class="control-link button-show-as-collapsed">Show as Collapsed</a> |
            <a href="#" class="control-link button-mark-all-read">Mark all as read</a> |
			<a href="#" class="control-link button-unsubscribe">Unsubscribe</a>
		</div>
	</div>
	<div class="feed"></div>
</div>