<div class="modal-header">
    <h3>Add New Subscription</h3>
</div>
<div class="modal-body">
    <input type="text" ng-model="subscriptionUrl" class="form-control input-add-subscription" placeholder="Enter RSS feed URL (http://)" />
    <div ng-show="currentStatus.invalidUrl" class="alert alert-danger">
      <strong>Invalid Url:</strong> Please enter a valid feed URL.
    </div>
    <div ng-show="currentStatus.importing">
      <progressbar animate="false" class="progress-striped active" max="100" value="100" type="success"><i>Subscribing to Feed</i></progressbar>  
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="subscribe(subscriptionUrl)">Subscribe</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>